* {
    box-sizing: border-box;
} 

#wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(0px,1fr));
    grid-template-areas:
        "kopfzeile kopfzeile kopfzeile kopfzeile"
        "banner banner banner banner"
        "seite seite seite seite"
        "content content content content"
        "fusszeile fusszeile fusszeile fusszeile";
    gap: 0;
    
}

#logo {
    width: 80%;
    padding-left: 3%;
    cursor: pointer;
}

#menu {
    cursor: pointer;
}

#menu:hover {
    opacity: 0.5;
    transition: 0.3s;
}

h3 {
    font-size: 2em;
}

h2 {
    color: white;
    margin-top: 30%;
    padding-left: 50px;
    position: absolute;
}

#intro {
    color: white;
    margin-top: 38%;
    position: absolute;
    padding-left: 50px;
}

#headerbild {
    width: 100%
}

.breadcrumb {
    display: none;
}

#content-wrapper {
    overflow: hidden;
}