* {
    font-family: "SchibstedGrotesk", Arial, sans-serif;
    font-size: 1em
}

header {
    background-color: lightgrey;
    grid-area: kopfzeile;
    padding-top: 15px;
    padding: 15px;
}

h3 {
    margin: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 200%; 
}

h1 {
    padding-top: 30px;
    font-size: 1.2rem;
}

#home-button {
    height: 33px;
    cursor: pointer;
}



header {
    grid-area: kopfzeile;
}





article {
    position: relative;
    padding-left: 50px;
    width: 90%;
    grid-area: content;
}

#variants {
    text-align: center;
    position: relative;
}

#ablauf, #meta {
    width: 100px;
}

header {
    display: flex;
    justify-content : space-between;
    grid-area: kopfzeile;
}

#banner {
    grid-area: banner;
    margin: 0;
    width: 100%;
}

#content {
    grid-area: content;
}

aside {
    grid-area: seite;
    background-color: lightgrey;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
}

footer {
    grid-area: fusszeile;
    background-color: rgb(226, 225, 225);
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

#tipp {
    height: 50px;
}

#tipptext {
    margin-left: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
    transition: 0.8s
}





