@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-Regular.woff2') format('woff2'),
        url('SchibstedGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Schibsted Grotesk';
    src: url('SchibstedGrotesk-Bold.woff2') format('woff2'),
        url('SchibstedGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

